@import "preflight.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root .dark {
  --variant-outlinedHoverBg: #1A222C;
  --variant-softBg: #1A222C;
}

:root {
  --joy-zIndex-modal: 99999 !important;
}

html,
body {
  font-family: var(--font-inter);
  scroll-behavior: smooth;
}

body {
}

@layer base {
  button {
    @apply bg-inherit text-inherit;
  }
/* 
  p {
    @apply leading-[2] tracking-[0.08em];
  } */

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-merriweather);
  }

  img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  input, textarea{
    @apply font-medium;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .full-fixed {
    @apply w-full h-full fixed top-0 left-0;
  }

  .full-absolute {
    @apply w-full h-full absolute top-0 left-0;
  }
}

@layer components {
  .content {
    @apply max-w-[1352px] mx-auto;
  }

  .absolute-full {
    @apply w-full h-full absolute top-0 left-0;
  }

  .fixed-full {
    @apply w-full h-full fixed top-0 left-0;
  }

  .unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .undraggable {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
}

*:has(> .content) {
  @apply small:px-4 md:px-12 lg:px-24 xl:px-36;
}

::selection {
  @apply bg-black/80 text-white;
}

form input:required:invalid {
  border-color: red;
}

.colorize-white {
  display: inline-block;
  background-color: white;
  -webkit-mask-size: 95%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

@keyframes Spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: Spinner 1s linear infinite;
}

button.shadow{
  box-shadow: 0.25rem 0.25rem 0 0rem #171F38;
}

button.shadow:active {
  box-shadow: 0 0 0 0rem #171F38;
  transform: translateY(0.25rem) translateX(0.25rem);
}

button.shadow-anim:active {
  transform: translateY(0.25rem) translateX(0.25rem);
}

/* Joy Theme */
.MuiModal-backdrop, .MuiDrawer-backdrop{
  backdrop-filter: blur(1px) !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.MuiDrawer-content{
  @apply small:w-full small:p-8 min-w-[550px] small:min-w-full !important;
}